USE [master]
GO
/****** Object:  Database [REU_Registration]    Script Date: 7/4/2020 4:28:48 PM ******/
CREATE DATABASE [REU_Registration]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REU_Registration', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SOFTWARECORNERIT\MSSQL\DATA\REU_Registration.mdf' , SIZE = 33792KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'REU_Registration_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SOFTWARECORNERIT\MSSQL\DATA\REU_Registration_log.ldf' , SIZE = 20096KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REU_Registration].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REU_Registration]
GO
/****** Object:  Table [dbo].[Collage]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collage](
	[Collage_ID] [int] IDENTITY(1,1) NOT NULL,
	[Collage_Name_Ar] [nvarchar](max) NULL,
	[Collage_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Collage] PRIMARY KEY CLUSTERED 
(
	[Collage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_Id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Name_Ar] [nvarchar](max) NULL,
	[Employee_Name_En] [nvarchar](max) NULL,
	[Employee_Email] [nvarchar](max) NULL,
	[Employee_Phone] [nvarchar](max) NULL,
	[Group_Id] [int] NULL,
	[Employee_Profile] [nvarchar](max) NULL,
	[Employee_Password] [nvarchar](max) NULL,
	[Employee_Active] [bit] NULL,
	[Language_id] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Files]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Files](
	[File_Id] [int] IDENTITY(1,1) NOT NULL,
	[File_Name] [nvarchar](max) NULL,
	[File_Path] [nvarchar](max) NULL,
	[DateCreation] [datetime] NULL,
	[Student_Id] [int] NULL,
	[Type] [int] NULL,
 CONSTRAINT [PK_Files] PRIMARY KEY CLUSTERED 
(
	[File_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Group]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[Group_Id] [int] IDENTITY(1,1) NOT NULL,
	[Group_Name_Ar] [nvarchar](max) NULL,
	[Group_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[Group_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Group_Status]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group_Status](
	[Group_Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[Group_Id] [int] NULL,
	[Status_Id] [int] NULL,
 CONSTRAINT [PK_Group_Status] PRIMARY KEY CLUSTERED 
(
	[Group_Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LanguageMaster]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LanguageMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Language_Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_LanguageMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Lanuage_Detials]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lanuage_Detials](
	[Language_Detial_Id] [int] IDENTITY(1,1) NOT NULL,
	[Language_Master_Id] [int] NULL,
	[Language_Detial_FieldName] [nvarchar](150) NULL,
	[Language_Detial_Value] [nvarchar](150) NULL,
 CONSTRAINT [PK_Lanuage_Detials] PRIMARY KEY CLUSTERED 
(
	[Language_Detial_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LastUpdate]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LastUpdate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Counter] [int] NULL,
	[CreationDate] [datetime] NULL,
 CONSTRAINT [PK_LastUpdate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Log_File]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_File](
	[Log_Id] [int] IDENTITY(1,1) NOT NULL,
	[Log_Date] [datetime] NULL,
	[Log_Note] [ntext] NULL,
	[Login_Id] [int] NULL,
	[Form_Id] [int] NULL,
	[Log_Name] [nvarchar](max) NULL,
	[Log_Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Log_File] PRIMARY KEY CLUSTERED 
(
	[Log_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Nationality]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Nationality](
	[Nationality_Id] [int] IDENTITY(1,1) NOT NULL,
	[Country_code] [varchar](2) NOT NULL,
	[Country_Name_En] [varchar](100) NOT NULL,
	[Country_Name_Ar] [nvarchar](100) NOT NULL,
	[Nationality_Name_En] [varchar](100) NOT NULL,
	[Nationality_Name_Ar] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__countrie__3436E9A406F40284] PRIMARY KEY CLUSTERED 
(
	[Nationality_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Notification_Employee]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Employee](
	[NotificationShow_Employee_Id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_Id] [int] NULL,
	[NotificationShow_Id] [int] NULL,
 CONSTRAINT [PK_Notification_Employee] PRIMARY KEY CLUSTERED 
(
	[NotificationShow_Employee_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notification_Master]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Master](
	[Notification_Id] [int] IDENTITY(1,1) NOT NULL,
	[Notification_Date] [datetime] NULL,
	[Notification_Description_Ar] [nvarchar](max) NULL,
	[Notification_Description_En] [nvarchar](max) NULL,
	[Is_Read] [bit] NULL,
	[Date_Read] [datetime] NULL,
	[From_Employee_Structure_Id] [int] NULL,
	[To_Employee_Structure_Id] [int] NULL,
	[Master_Id] [int] NULL,
	[Notification_Link] [nvarchar](max) NULL,
	[Is_Show_Reply] [bit] NULL,
	[Date_Show_Reply] [datetime] NULL,
	[Notification_Show_Id] [int] NULL,
 CONSTRAINT [PK_Notification_Master] PRIMARY KEY CLUSTERED 
(
	[Notification_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notification_Show]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification_Show](
	[Notification_Show_Id] [int] NOT NULL,
	[Notification_Show_Name_Ar] [nvarchar](max) NULL,
	[Notification_Show_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Notification_Show] PRIMARY KEY CLUSTERED 
(
	[Notification_Show_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Payment_Process]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payment_Process](
	[Payment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Student_Id] [int] NULL,
	[Payment_IsPaid] [bit] NULL,
	[Comment] [nvarchar](max) NULL,
	[DateCreation] [datetime] NULL,
	[Send_EntityId] [nvarchar](max) NULL,
	[Send_Amount] [float] NULL,
	[Send_Currency] [nvarchar](max) NULL,
	[Send_PaymentType] [nvarchar](max) NULL,
	[Result_Code] [nvarchar](max) NULL,
	[Result_Description] [nvarchar](max) NULL,
	[Result_BuildNumber] [nvarchar](max) NULL,
	[Result_Timestamp] [nvarchar](max) NULL,
	[Result_Ndc] [nvarchar](max) NULL,
	[Result_Id] [nvarchar](max) NULL,
	[Payment_Date] [datetime] NULL,
	[Payment_Type_Id] [int] NULL,
	[Payment_Trackingkey] [nvarchar](max) NULL,
	[Payment_URL_IsValid] [bit] NULL,
	[Payment_Result_Json] [varchar](max) NULL,
	[Payment_SMS_Result] [varchar](max) NULL,
 CONSTRAINT [PK_Payment_Study] PRIMARY KEY CLUSTERED 
(
	[Payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Payment_Type]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Type](
	[Payment_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Payment_Name_Ar] [nvarchar](max) NULL,
	[Payment_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Payment_Registration] PRIMARY KEY CLUSTERED 
(
	[Payment_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission](
	[Permission_Id] [int] IDENTITY(1,1) NOT NULL,
	[Permission_Name_Ar] [nvarchar](max) NULL,
	[Permission_Name_En] [nvarchar](max) NULL,
	[Parent] [int] NULL,
	[Url_Path] [nvarchar](max) NULL,
	[Permission_Icon] [nvarchar](max) NULL,
	[System_Id] [int] NULL,
 CONSTRAINT [PK_Permission] PRIMARY KEY CLUSTERED 
(
	[Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Permission_Group]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission_Group](
	[Permission_Group_Id] [int] IDENTITY(1,1) NOT NULL,
	[Permission_Id] [int] NULL,
	[Group_Id] [int] NULL,
 CONSTRAINT [PK_Permission_Group] PRIMARY KEY CLUSTERED 
(
	[Permission_Group_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resource]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resource](
	[ResourceID] [int] IDENTITY(1,1) NOT NULL,
	[Resource_Name_Ar] [nchar](100) NULL,
	[Resource_Name_En] [nvarchar](100) NULL,
 CONSTRAINT [PK_Resource] PRIMARY KEY CLUSTERED 
(
	[ResourceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rosom_Request]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rosom_Request](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Trackingkey] [nvarchar](100) NULL,
	[Payment_Process_Id] [int] NULL,
	[PaymentType] [int] NULL,
	[DateCreation] [datetime] NULL,
	[UUID] [nvarchar](200) NULL,
	[Timestamp] [nvarchar](50) NULL,
	[MerchantId] [nchar](10) NULL,
	[Invoice_Students_Id] [nvarchar](200) NULL,
	[Invoice_Students_FirstName] [nvarchar](200) NULL,
	[Invoice_Students_LastName] [nvarchar](200) NULL,
	[InvoiceId] [nvarchar](200) NULL,
	[PayeeId] [nvarchar](200) NULL,
	[InvoiceStatus] [nvarchar](200) NULL,
	[BillType] [nvarchar](200) NULL,
	[DisplayInfo] [nvarchar](max) NULL,
	[AmountDue] [nvarchar](200) NULL,
	[CreateDate] [nvarchar](200) NULL,
	[ExpiryDate] [nvarchar](200) NULL,
	[PaymentRange_MinPartialAmount] [nvarchar](200) NULL,
	[PaymentRange_MinAdvanceAmount] [nvarchar](200) NULL,
	[PaymentRange_MaxAdvanceAmount] [nvarchar](200) NULL,
	[IsPaid] [bit] NULL,
	[Result_JSON] [nvarchar](max) NULL,
	[Response_InvoiceId] [nvarchar](200) NULL,
	[Response_SADADNumber] [nvarchar](200) NULL,
	[Response_Status_Code] [nvarchar](200) NULL,
	[Response_Status_Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Rosom] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rosom_Response]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rosom_Response](
	[Id] [int] NOT NULL,
	[Payment_Process_Id] [int] NULL,
	[Rosom_Request_Id] [int] NULL,
	[Trackingkey] [nvarchar](max) NULL,
	[InvoiceId] [nvarchar](250) NULL,
	[PaymentId] [nvarchar](250) NULL,
	[SADADTransactionId] [nvarchar](max) NULL,
	[BankTransactionId] [nvarchar](max) NULL,
	[PaidAmount] [nvarchar](250) NULL,
	[PaymentDate] [nvarchar](250) NULL,
	[SADADNumber] [nvarchar](250) NULL,
	[MerchantId] [nvarchar](max) NULL,
	[BankName] [nvarchar](250) NULL,
	[DistrictCode] [nvarchar](max) NULL,
	[BranchCode] [nvarchar](max) NULL,
	[AccessChannel] [nvarchar](max) NULL,
	[PmtMethod] [nvarchar](250) NULL,
	[PmtType] [nvarchar](250) NULL,
	[ServiceType] [nvarchar](250) NULL,
 CONSTRAINT [PK_Rosom_Response] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sequence]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sequence](
	[Sequence_Id] [int] IDENTITY(1,1) NOT NULL,
	[Emp_Id] [int] NULL,
	[Status_Id] [int] NULL,
	[Student_Id] [int] NULL,
	[DateCreation] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sequence] PRIMARY KEY CLUSTERED 
(
	[Sequence_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Specialization]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialization](
	[Specialization_Id] [int] IDENTITY(1,1) NOT NULL,
	[Specialization_Name_Ar] [nvarchar](max) NULL,
	[Specialization_Name_En] [nvarchar](max) NULL,
	[Collage_Id] [int] NULL,
	[Condition_Ar] [nvarchar](max) NULL,
	[High_School_Percent] [nvarchar](50) NULL,
	[Capabilities_Percent] [nvarchar](50) NULL,
	[My_Achievement_Percent] [nvarchar](50) NULL,
	[Weighted_Ratio_Percent] [nvarchar](50) NULL,
	[Specialization_Icon] [nvarchar](max) NULL,
	[Specialization_Image] [nvarchar](max) NULL,
	[Condition_En] [nvarchar](max) NULL,
	[Specialization_Description_Ar] [nvarchar](max) NULL,
	[Specialization_Description_En] [nvarchar](max) NULL,
	[Specialization_Registeration_Payment] [float] NULL,
	[Specialization_Study_Payment] [float] NULL,
	[Specialization_Suspend] [bit] NULL,
	[Specialization_Study_Payment_Semester] [float] NULL,
	[Specialization_Study_Payment_Contract] [float] NULL,
	[Specialization_Study_Payment_Equation] [float] NULL,
 CONSTRAINT [PK_Specialization] PRIMARY KEY CLUSTERED 
(
	[Specialization_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Status]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Status_Id] [int] IDENTITY(1,1) NOT NULL,
	[Status_Code] [int] NULL,
	[Status_Name_Ar] [nvarchar](max) NULL,
	[Status_Name_En] [nvarchar](max) NULL,
	[Status_Color] [nvarchar](max) NULL,
	[Status_Icon] [nvarchar](max) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Status_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Student_Id] [int] IDENTITY(1,1) NOT NULL,
	[Student_SSN] [nvarchar](50) NULL,
	[Student_Name_En] [nvarchar](max) NULL,
	[Student_Name_Ar] [nvarchar](max) NULL,
	[Student_Address] [nvarchar](max) NULL,
	[Student_Phone] [nvarchar](50) NULL,
	[Student_Email] [nvarchar](max) NULL,
	[Student_High_School_Degree] [nvarchar](50) NULL,
	[Student_Capabilities_Degree] [nvarchar](50) NULL,
	[Student_My_Achievement_Degree] [nvarchar](50) NULL,
	[Student_CreationDate] [datetime] NULL,
	[Student_Employee_Id] [int] NULL,
	[Student_Assign_Date] [datetime] NULL,
	[Student_Image_Profile] [nvarchar](max) NULL,
	[Student_Specialization_Id] [int] NULL,
	[Student_Nationality_Id] [int] NULL,
	[Student_Resource_Id] [int] NULL,
	[Student_Status_Id] [int] NULL,
	[Student_Total] [nvarchar](50) NULL,
	[Suspended] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[Student_URL_Video] [nvarchar](max) NULL,
	[Student_Type_Id] [int] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Student_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student_Concat]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Concat](
	[Student_Concat_Id] [int] IDENTITY(1,1) NOT NULL,
	[Student_Concat_Name] [nvarchar](max) NULL,
	[Student_Concat_Phone] [nvarchar](max) NULL,
	[Student_Concat_Email] [nvarchar](max) NULL,
	[Student_Concat_Message] [nvarchar](max) NULL,
	[Student_Concat_Status] [int] NULL,
	[Student_Concat_CreationDate] [datetime] NULL,
 CONSTRAINT [PK_Student_Concat] PRIMARY KEY CLUSTERED 
(
	[Student_Concat_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student_Other_Info]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Other_Info](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Student_Id] [int] NULL,
	[MessageType] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[DateCreation] [datetime] NULL,
	[Note] [nvarchar](max) NULL,
 CONSTRAINT [PK_Student_Other_Info] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Student_Type]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Type](
	[Student_Type_Id] [int] IDENTITY(1,1) NOT NULL,
	[Student_Type_Name_Ar] [nvarchar](max) NULL,
	[Student_Type_Name_En] [nvarchar](max) NULL,
 CONSTRAINT [PK_Student_Type] PRIMARY KEY CLUSTERED 
(
	[Student_Type_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VISA_MADA]    Script Date: 7/4/2020 4:28:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISA_MADA](
	[VISA_MADA_Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentProcess_Id] [int] NULL,
	[Trackingkey] [nvarchar](max) NULL,
	[UUID] [nvarchar](max) NULL,
	[Result_JSON] [nvarchar](max) NULL,
	[DateCreation] [datetime] NULL,
 CONSTRAINT [PK_VISA_MADA] PRIMARY KEY CLUSTERED 
(
	[VISA_MADA_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Collage] ON 

INSERT [dbo].[Collage] ([Collage_ID], [Collage_Name_Ar], [Collage_Name_En]) VALUES (1, N'كلية طب الأسنان', N'College of Dentistry')
INSERT [dbo].[Collage] ([Collage_ID], [Collage_Name_Ar], [Collage_Name_En]) VALUES (2, N'كلية الصيدلة', N'College of Pharmacy')
INSERT [dbo].[Collage] ([Collage_ID], [Collage_Name_Ar], [Collage_Name_En]) VALUES (3, N'كلية التمريض', N'College of Nursing')
SET IDENTITY_INSERT [dbo].[Collage] OFF
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Employee_Id], [Employee_Name_Ar], [Employee_Name_En], [Employee_Email], [Employee_Phone], [Group_Id], [Employee_Profile], [Employee_Password], [Employee_Active], [Language_id]) VALUES (1, N'مدير النظام', N'Admin System', N'ayman@softwarecornerit.com', N'0550932548', 1, N'815ba3f3-40a6-4145-8895-915771ea594d.jpg', N'R1+S3kNwFGQZ5r74zdUhwdUX+e0Jb1QjXP2tua72oF3UgnNFDfyfoJZJhR6seVoSOrVpKEmHSXHDrdMIOe4yO7KmORH1fpEAapI0c5j42KH2bzkK6+YETp3tgdpyI7BU', 1, 1)
INSERT [dbo].[Employee] ([Employee_Id], [Employee_Name_Ar], [Employee_Name_En], [Employee_Email], [Employee_Phone], [Group_Id], [Employee_Profile], [Employee_Password], [Employee_Active], [Language_id]) VALUES (10, N'فهد الشمري', N'Fahad', N'fahad@riyadh.edu.sa', N'050000259', 1, N'0fba115a-773c-4461-9360-0f0903c4482e.jpg', N'tLq9hdIRdAubqwvNQOL86k/o+fflqLG8jWta73NzlT0cHtgT5iTW7B9OP166VrdBU1Cpz0Kc2qBdk+nUuw9g4ZPDFuQO3KZJWxNXUdUVKflcmWsBEU+hSghlFkoWF8Wc', 1, 2)
INSERT [dbo].[Employee] ([Employee_Id], [Employee_Name_Ar], [Employee_Name_En], [Employee_Email], [Employee_Phone], [Group_Id], [Employee_Profile], [Employee_Password], [Employee_Active], [Language_id]) VALUES (11, N'ايمن امين ', N'Ayman Amin', N'ayman1793@gmail.com', N'0550932548', 1, N'Profile.JPG', N'zljJVVhWYR1dsQ1UXR4NOvX4wgdQ1224y76kEdAdscJK6F/fWgnVLFuA5IkAcN9zMwyF1G+agLg65jym1SQCGAQkzcFqdMsFwNpstrccBA/K2EmpMBbTeq9zOcCMPfHR', 1, 2)
SET IDENTITY_INSERT [dbo].[Employee] OFF
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([Group_Id], [Group_Name_Ar], [Group_Name_En]) VALUES (1, N'الادارة', N'Management')
INSERT [dbo].[Group] ([Group_Id], [Group_Name_Ar], [Group_Name_En]) VALUES (2, N'مركز الاتصالات', N'Call Center')
INSERT [dbo].[Group] ([Group_Id], [Group_Name_Ar], [Group_Name_En]) VALUES (3, N'مشرف مركز الاتصال', N'Call Center Supervisor')
SET IDENTITY_INSERT [dbo].[Group] OFF
SET IDENTITY_INSERT [dbo].[Group_Status] ON 

INSERT [dbo].[Group_Status] ([Group_Status_Id], [Group_Id], [Status_Id]) VALUES (421, 1, 2)
INSERT [dbo].[Group_Status] ([Group_Status_Id], [Group_Id], [Status_Id]) VALUES (422, 1, 3)
INSERT [dbo].[Group_Status] ([Group_Status_Id], [Group_Id], [Status_Id]) VALUES (423, 1, 4)
SET IDENTITY_INSERT [dbo].[Group_Status] OFF
SET IDENTITY_INSERT [dbo].[LanguageMaster] ON 

INSERT [dbo].[LanguageMaster] ([ID], [Language_Name]) VALUES (1, N'Arabic')
INSERT [dbo].[LanguageMaster] ([ID], [Language_Name]) VALUES (2, N'English')
SET IDENTITY_INSERT [dbo].[LanguageMaster] OFF
SET IDENTITY_INSERT [dbo].[Lanuage_Detials] ON 

INSERT [dbo].[Lanuage_Detials] ([Language_Detial_Id], [Language_Master_Id], [Language_Detial_FieldName], [Language_Detial_Value]) VALUES (1, 2, N'homepage-title', N'REU - Admission')
INSERT [dbo].[Lanuage_Detials] ([Language_Detial_Id], [Language_Master_Id], [Language_Detial_FieldName], [Language_Detial_Value]) VALUES (2, 1, N'homepage-title', N'جامعة رياض العلم - القبول')
INSERT [dbo].[Lanuage_Detials] ([Language_Detial_Id], [Language_Master_Id], [Language_Detial_FieldName], [Language_Detial_Value]) VALUES (3, 2, N'homepage-work', N'sat - fri: 24 hour')
GO
SET IDENTITY_INSERT [dbo].[Lanuage_Detials] OFF
SET IDENTITY_INSERT [dbo].[LastUpdate] ON 

INSERT [dbo].[LastUpdate] ([Id], [Counter], [CreationDate]) VALUES (1, 4, CAST(0x0000ABCE01611836 AS DateTime))
SET IDENTITY_INSERT [dbo].[LastUpdate] OFF
SET IDENTITY_INSERT [dbo].[Log_File] ON 

INSERT [dbo].[Log_File] ([Log_Id], [Log_Date], [Log_Note], [Login_Id], [Form_Id], [Log_Name], [Log_Description]) VALUES (7179, CAST(0x0000ABE8011C2889 AS DateTime), N'data:{"Employee_Id":1,"Employee_Name_Ar":"مدير النظام","Employee_Name_En":"Admin System","Employee_Email":"ayman@softwarecornerit.com","Employee_Phone":"0550932548","Group_Id":null,"Employee_Profile":null,"Employee_Password":null,"Employee_Active":null,"Language_id":null,"Group":null,"LanguageMaster":null,"Log_File":[],"Notification_Employee":[],"Sequences":[],"Students":[]}', 1, 28, N'تسجيل دخول', N'login to system')
INSERT [dbo].[Log_File] ([Log_Id], [Log_Date], [Log_Note], [Login_Id], [Form_Id], [Log_Name], [Log_Description]) VALUES (7180, CAST(0x0000ABE8011C791B AS DateTime), N'data:{"Log_File":[],"Permission_Group":[],"Permission_Id":31,"Permission_Name_Ar":"معلومات اخرى","Permission_Name_En":"Other Informations","Parent":1,"Url_Path":"Pages/RegistrationProcess/OtherInfo.aspx","Permission_Icon":"icofont icofont-info-circle","System_Id":1}', 1, 4, N'إضافة صلاحية جديدة', N'add new permission')
INSERT [dbo].[Log_File] ([Log_Id], [Log_Date], [Log_Note], [Login_Id], [Form_Id], [Log_Name], [Log_Description]) VALUES (7181, CAST(0x0000ABE8011CAE1A AS DateTime), N'data:1', 1, 5, N'تعديل صلاحيات المجموعة', N'update group permissions')
GO
SET IDENTITY_INSERT [dbo].[Log_File] OFF
SET IDENTITY_INSERT [dbo].[Nationality] ON 

INSERT [dbo].[Nationality] ([Nationality_Id], [Country_code], [Country_Name_En], [Country_Name_Ar], [Nationality_Name_En], [Nationality_Name_Ar]) VALUES (1, N'AD', N'Andorra', N'أندورا', N'Andorran', N'أندوري')
INSERT [dbo].[Nationality] ([Nationality_Id], [Country_code], [Country_Name_En], [Country_Name_Ar], [Nationality_Name_En], [Nationality_Name_Ar]) VALUES (2, N'AE', N'United Arab Emirates', N'الإمارات العربية المتحدة', N'Emirati', N'إماراتي')
INSERT [dbo].[Nationality] ([Nationality_Id], [Country_code], [Country_Name_En], [Country_Name_Ar], [Nationality_Name_En], [Nationality_Name_Ar]) VALUES (3, N'AF', N'Afghanistan', N'أفغانستان', N'Afghan', N'أفغانستاني')
GO
SET IDENTITY_INSERT [dbo].[Nationality] OFF
SET IDENTITY_INSERT [dbo].[Payment_Type] ON 

INSERT [dbo].[Payment_Type] ([Payment_Type_Id], [Payment_Name_Ar], [Payment_Name_En]) VALUES (1, N'تسجيل', N'Registration')
INSERT [dbo].[Payment_Type] ([Payment_Type_Id], [Payment_Name_Ar], [Payment_Name_En]) VALUES (2, N'دراسة', N'Study')
SET IDENTITY_INSERT [dbo].[Payment_Type] OFF
SET IDENTITY_INSERT [dbo].[Permission] ON 

INSERT [dbo].[Permission] ([Permission_Id], [Permission_Name_Ar], [Permission_Name_En], [Parent], [Url_Path], [Permission_Icon], [System_Id]) VALUES (1, N'ادارة ملفات الطلاب', N'Manage students', 0, NULL, N'icofont icofont-group-students', 1)
INSERT [dbo].[Permission] ([Permission_Id], [Permission_Name_Ar], [Permission_Name_En], [Parent], [Url_Path], [Permission_Icon], [System_Id]) VALUES (2, N'عرض الملف', N'View Student File', 11, N'Pages/RegistrationProcess/view.aspx', N'icofont icofont-listing-box', 1)
INSERT [dbo].[Permission] ([Permission_Id], [Permission_Name_Ar], [Permission_Name_En], [Parent], [Url_Path], [Permission_Icon], [System_Id]) VALUES (3, N'الصلاحيات', N'Permissions', 0, NULL, N'icofont icofont-ui-settings', 1)
SET IDENTITY_INSERT [dbo].[Permission] OFF
SET IDENTITY_INSERT [dbo].[Permission_Group] ON 

INSERT [dbo].[Permission_Group] ([Permission_Group_Id], [Permission_Id], [Group_Id]) VALUES (1850, 1, 1)
INSERT [dbo].[Permission_Group] ([Permission_Group_Id], [Permission_Id], [Group_Id]) VALUES (1851, 2, 1)
INSERT [dbo].[Permission_Group] ([Permission_Group_Id], [Permission_Id], [Group_Id]) VALUES (1852, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Permission_Group] OFF
SET IDENTITY_INSERT [dbo].[Resource] ON 

INSERT [dbo].[Resource] ([ResourceID], [Resource_Name_Ar], [Resource_Name_En]) VALUES (1, N'فيس بوك                                                                                             ', N'Facebook')
INSERT [dbo].[Resource] ([ResourceID], [Resource_Name_Ar], [Resource_Name_En]) VALUES (2, N'تويتر                                                                                               ', N'Tiweter')
INSERT [dbo].[Resource] ([ResourceID], [Resource_Name_Ar], [Resource_Name_En]) VALUES (3, N'انستقرام                                                                                            ', N'Instegram')
SET IDENTITY_INSERT [dbo].[Resource] OFF
SET IDENTITY_INSERT [dbo].[Specialization] ON 

INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (1, N'بكالوريوس طب و جراحه الفم و الأسنان', N'Bachelor of Dental Surgery', 1, N'<p dir="rtl">1-&nbsp;أن يكون الطالب/الطالبة حاصل على شهادة الثانوية العامة أو ما يعادلها من داخل المملكة أو من خارجها واختبار القدرات والتحصيلي وفق النسب التالية: -</p>

<ul dir="rtl">
	<li>أن ال تقل النسبة الموزونة عن ) <span style="color:#2980b9">80</span> ) % موزعة على النحو التالي:

	<ul>
		<li>) 30 ) % ثانوية عامة.</li>
		<li>) 30 ) % قدرات</li>
		<li>) 40 ) % تحصيلي [ على أن ال تقل درجة االختبار التحصيلي عن ) 70</li>
	</ul>
	</li>
</ul>

<p dir="rtl">2-&nbsp;أن يكون حسن السيرة والسلوك.</p>

<p dir="rtl">3-&nbsp;أن يجتاز بنجاح امتحانات القبول المشتملة على اللغة اإلنجليزية والمقابلة الشخصية واالمتحان العملي.</p>

<p dir="rtl">4-&nbsp;أن يكون الئقاً طبياً.</p>

<p dir="rtl">5-&nbsp;أن ال يكون مفصوالً من جامعة أو كلية أخرى ألسباب تأديبية</p>
', N'30', N'30', N'40', N'80', N'fa fa-user-md', N'dental-surgery.jpg', N'<p>1- The male / female student must have a high school diploma or equivalent from within The Kingdom or from outside it, and aptitude and achievement test according to the following percentages:</p>

<p>The weighted percentage should not be less than (<span style="color:#2980b9">80%</span>) distributed as follows:</p>

<ul>
	<li>(30%) of high school.</li>
	<li>(30%) capabilities.</li>
	<li>(40%) achievement, provided that the achievement test score is not less than (70).</li>
</ul>

<p>2- To be of good conduct and behavior.</p>

<p>3- He has successfully passed the entrance exams, which include English and a personal interview And the practical exam.</p>

<p>4- To be medically fit.</p>

<p>5- He must not be dismissed from any other university or college for disciplinary reasons.</p>
', N'منذ إعتماد هذا البرنامج بموجب موافقة وزير التعليم بالرقم / 32630 وتاريخ 16/1/1426 هـ وقبلت الدفعة الأولى فيه مع بداية الفصل الدراسي الثاني من العام الدراسي 1424 – 1425 .هـ (2003 – 2004 مـ)تتكون الخطة الدراسية للبرنامج من 212 ساعة موزعة على اثنى عشر مستوى دراسي و تستغرق الدراسة ست سنوات بالإضافة لسنة الإمتياز
هو برنامج لمدة ست سنوات في طب الأسنان و يهتم بالحفاظ على صحة الأسنان واللثة ، و الأنسجة المحيطة في الفم. 

 و تماشياً مع النهضة كان لابد من تطوير عملية ووسائل التعليم المختلفة و مواكبة آخر المستجدات في علوم طب الفم و الاسنان. لذلك حرصت جامعة رياض العلم على أن تكون خطة البرنامج مواكبة للتطور العلمي بتقديم منهجاً تعليماً لمختلف المراحل الدراسية في جامعة رياض العلم ويهدف إلى  تعزيزالمهارات العلمية و العملية اللازمة لتحقيق أفضل استخدام للمواد و التقنيات الجديدة.', N'The six-year Bachelor of Dental Surgery Program at Riyadh Elm University, Formerly Riyadh Colleges of Dentistry and Pharmacy is a professional dentistry program where students are involved with clinical procedures from the outset of the program, with an emphasis on the recognition and prevention of oral diseases.
The Department of Dentistry aims towards presenting a program that is stimulating and enjoyable and one that develops skills and attitudes to continue learning after graduation; in other words to become life-long learners.
The curriculum enjoys a balance of problem-based, self-directed, traditional and hands-on learning approaches with early exposure of students to clinical dental practice. The curriculum provides students with a broad dental education that encourages continual professional development and produces graduates that are well-rounded, thinking and mature clinicians.
In today’s exciting and challenging era for dentistry, much of dental disease can be prevented. Although there is now a wide array of techniques to alleviate pain and treat dental disease, there is still that need for further improvements and better ways to prevent and treat these diseases. With this also comes the need to develop new teaching methods for the dental student of today.
At RCDP, we are trying to meet these challenges with undergraduate and postgraduate courses designed to provide both the scientific background and the practical skills needed to make the best use of new materials and put into practice the most up-to-date advances in dentistry. It is RCDP’s goal to provide our dental students with the basic understanding of oral diseases and the skills for applied aspects of their prevention and treatment in order to prepare them to practice dentistry in the 21st Century.
The curriculum is a competency based curriculum. It has been designed and modified over the years to reflect the changing needs of the dental profession and public. The school’s primary mission is patient centered. Our goal is to develop dental practitioners who are able to utilize the basic principles of human biology and human behavior in conjunction with their technical skills in diagnosing, treating, and preventing oral disease. The RCDP graduate should be able to integrate knowledge across disciplines and perform procedures with patient well-being in mind. They should understand the importance of life-long learning to continually improve their knowledge and skill base.
The B.D.S. program, which extends over a six- year period, consists of a series of:

Didactic (lecture and seminar),
Patient simulation (patient simulation clinic, introductory clinical experience, and workshop), and
Clinical (group practice, rotations and Community Service Learning Internship) experiences. These are designed and sequenced to result in the logical development of concepts and skills from simple to advanced procedures. Included in the curriculum is an awareness of research methodology and the search techniques to support Evidence-Based Dentistry. Also included is a sense of community responsibility so that all patients can access needed care.', 1000, 90000, 0, 5000, 8000, 100)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (2, N'بكالوريوس علوم الصيدلة', N'Bachelor of Pharmacy Science', 2, N'<p dir="rtl">1-&nbsp;أن يكون الطالب/الطالبة حاصل على شهادة الثانوية العامة أو ما يعادلها من داخل المملكة أو من خارجها واختبار القدرات والتحصيلي وفق النسب التالية: -</p>

<ul dir="rtl">
	<li>أن ال تقل النسبة الموزونة عن ) <span style="color:#2980b9">70</span> ) % موزعة على النحو التالي:

	<ul>
		<li>) 30 ) % ثانوية عامة.</li>
		<li>) 30 ) % قدرات</li>
		<li>) 40 ) % تحصيلي</li>
	</ul>
	</li>
</ul>

<p dir="rtl">2-&nbsp;أن يكون حسن السيرة والسلوك.</p>

<p dir="rtl">3-&nbsp;أن يجتاز بنجاح امتحانات القبول المشتملة على اللغة اإلنجليزية والمقابلة الشخصية واالمتحان العملي.</p>

<p dir="rtl">4-&nbsp;أن يكون الئقاً طبياً.</p>

<p dir="rtl">5-&nbsp;أن ال يكون مفصوالً من جامعة أو كلية أخرى ألسباب تأديبية</p>
', N'30', N'30', N'40', N'70', N'fa fa-eraser', N'Pharmaceutical-Chemistry-1024x630.jpg', N'<p>1- The male / female student must have a high school diploma or equivalent from within The Kingdom or from outside it, and aptitude and achievement test according to the following percentages:</p>

<p>The weighted percentage should not be less than (<span style="color:#2980b9">70%</span>) distributed as follows:</p>

<ul>
	<li>(30%) of high school.</li>
	<li>(30%) capabilities.</li>
	<li>(40%) achievement.</li>
</ul>

<p>2- To be of good conduct and behavior.</p>

<p>3- He has successfully passed the entrance exams, which include English and a personal interview And the practical exam.</p>

<p>4- To be medically fit.</p>

<p>5- He must not be dismissed from any other university or college for disciplinary reasons.</p>
', N'يتميز خريج برنامج البكالوريوس في علوم الصيدلة بما لدية من خبرات نظرية وعملية, وبقدرته على القيام بدور فعال ضمن الفريق الطب يالعلاجي من حيث العمل في المستشفيات و الصيدليات العامه و الخاصة بالاضافة الى كونه لديه القدرة على العمل في مؤسسات تصنيع الادوية و مراكز البحوث العلمية المهتمة في العلوم الصيدلانية.
 
المقررات التي تقدمها كلية الرياض للصيدلة و العلوم الطبية تهدف إلى تزويد الطلاب بالمعرفة والمهارات اللازمة من اجل الممارسة العملية. هذه المقررات من شأنها تعريف الطلاب على سيناريوهات مختلفة قد يواجهها الطلبة أثناء الممارسة, و يتم ذلك من خلال دراسة حالات, ومناقشات المجموعة، و التدرب في مستشفى اوصيدلية، الخ.
 
كما و يهدف البرنامج إلى تزويد الطلاب بالتعليم الجامعي المتميز مع التركيز على العلوم الصيدلية ودمج المعرفة مع التدريب العملي لتعزيز وتنمية المسار الوظيفي.
 
يمتد برنامج البكالوريوس في علوم الصيدلة لمدة خمس سنوات, السنة الاولى يبدأ فيها الطالب بالمقررات الدراسية الاساسية مثل الرياضيات والعلوم الأساسية (الكيمياء والأحياء والفيزياء). ومع تقدم الطالب في البرنامج سوف يأخذ العديد من المقررات الدراسية المتخصصة في العلوم الصيدلية، بما في ذلك جوانب تصميم الادوية والتوليف، وآلية عمل الدواء، علم العقاقير، وعلم الصيدلة وعلم السموم، ووضع الدواء والصناعات التحويلية.', N'The courses at Riyadh Elm University (REU), Formerly Riyadh Colleges of Dentistry and Pharmacy (RCsDP) under the practice of pharmacy aims to equip the students with the necessary knowledge and skills that will be utilized when they go into hospital or community pharmacy practice. These courses also expose the students to different scenarios that they may encounter during their practice through case studies, small group discussions, hospital and community pharmacy exposures, etc., thus ensuring that they would know how to respond when they face similar settings.
The program aims to provide the students a well-rounded undergraduate education with an emphasis on the pharmaceutical sciences and to integrate knowledge with practical hands-on experience to enhance career path development.', 1000, 90000, 0, NULL, NULL, NULL)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (3, N'بكالوريوس التمريض', N'Bachelor of Nursing', 3, N'<p>1-&nbsp;أن يكون الطالب/الطالبة حاصل على شهادة الثانوية العامة أو ما يعادلها من داخل المملكة أو من خارجها واختبار القدرات والتحصيلي وفق النسب التالية: -</p>

<ul>
	<li>أن ال تقل النسبة الموزونة عن ) <span style="color:#2980b9">65</span> ) % موزعة على النحو التالي:

	<ul>
		<li>) 30 ) % ثانوية عامة.</li>
		<li>) 30 ) % قدرات</li>
		<li>) 40 ) % تحصيلي</li>
	</ul>
	</li>
</ul>

<p>2-&nbsp;أن يكون حسن السيرة والسلوك.</p>

<p>3-&nbsp;أن يجتاز بنجاح امتحانات القبول المشتملة على اللغة اإلنجليزية والمقابلة الشخصية واالمتحان العملي.</p>

<p>4-&nbsp;أن يكون الئقاً طبياً.</p>

<p>5-&nbsp;أن ال يكون مفصوالً من جامعة أو كلية أخرى ألسباب تأديبية</p>
', N'30', N'30', N'40', N'65', N'fa fa-stethoscope', N'Nursing-Stethoscope-1.jpg', N'<p>1- The male / female student must have a high school diploma or equivalent from within The Kingdom or from outside it, and aptitude and achievement test according to the following percentages:</p>

<p>The weighted percentage should not be less than (<span style="color:#2980b9">65%</span>) distributed as follows:</p>

<ul>
	<li>(30%) of high school.</li>
	<li>(30%) capabilities.</li>
	<li>(40%) achievement.</li>
</ul>

<p>2- To be of good conduct and behavior.</p>

<p>3- He has successfully passed the entrance exams, which include English and a personal interview And the practical exam.</p>

<p>4- To be medically fit.</p>

<p>5- He must not be dismissed from any other university or college for disciplinary reasons.</p>
', N'تقدم جامعة رياض العلم برنامج الدراسة لمدة أربع سنوات والذي يؤدي إلى منح درجة البكالوريوس في التمريض وبرنامج تدريب الامتياز لمدة سنة واحدة (12 شهرا). من أجل التأهل للحصول على درجة البكالوريوس، يجب على الطلبة المسجلين إتمام مهام البرنامج الموصوف بنجاح، التدريب السريري، وغيرها من المتطلبات أثناء برنامج التدريب. ويعد برنامج بكالوريوس التمريض في كليات الرياض لطب الأسنان والصيدلة أحد برامج التدريب المهني المتعددة في الرعاية الصحية التي أقرتها وزارة التعليم العالي والهيئة السعودية للتخصصات الصحية تباعاً.', N'Riyadh Elm University (REU) offers a four-year study program that leads to the award of the degree of Bachelor of Science Nursing and 1 year (12 months) Internship. To be eligible for the award of the degree, an enrolled student must have successfully completed the prescribed course work, clinical training and other requirements during the course of training. Nursing education at Riyadh Elm University (REU) is one of the several health care professional training programs approved by the Ministry of Education and Saudi Commission for Health Specialties respectively.', 1000, 90000, 0, NULL, NULL, NULL)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (4, N'بكالوريوس مساعد طبيب الأسنان', N'Bachelor of Dental Assisting', 4, N'<p>1-&nbsp;أن يكون الطالب/الطالبة حاصل على شهادة الثانوية العامة أو ما يعادلها من داخل المملكة أو من خارجها واختبار القدرات والتحصيلي وفق النسب التالية: -</p>

<ul>
	<li>أن ال تقل النسبة الموزونة عن ) <span style="color:#2980b9">65</span> ) % موزعة على النحو التالي:

	<ul>
		<li>) 30 ) % ثانوية عامة.</li>
		<li>) 30 ) % قدرات</li>
		<li>) 40 ) % تحصيلي</li>
	</ul>
	</li>
</ul>

<p>2-&nbsp;أن يكون حسن السيرة والسلوك.</p>

<p>3-&nbsp;أن يجتاز بنجاح امتحانات القبول المشتملة على اللغة اإلنجليزية والمقابلة الشخصية واالمتحان العملي.</p>

<p>4-&nbsp;أن يكون الئقاً طبياً.</p>

<p>5-&nbsp;أن ال يكون مفصوالً من جامعة أو كلية أخرى ألسباب تأديبية</p>
', N'30', N'30', N'40', N'65', N'fa fa-medkit', N'dental-assistant.png', N'<p>1- The male / female student must have a high school diploma or equivalent from within The Kingdom or from outside it, and aptitude and achievement test according to the following percentages:</p>

<p>The weighted percentage should not be less than (<span style="color:#2980b9">65%</span>) distributed as follows:</p>

<ul>
	<li>(30%) of high school.</li>
	<li>(30%) capabilities.</li>
	<li>(40%) achievement.</li>
</ul>

<p>2- To be of good conduct and behavior.</p>

<p>3- He has successfully passed the entrance exams, which include English and a personal interview And the practical exam.</p>

<p>4- To be medically fit.</p>

<p>5- He must not be dismissed from any other university or college for disciplinary reasons.</p>
', N'برنامج بكالوريوس مساعد طبيب أسنان سيزود الطالب بالمواصفات و العلوم الأساسية لمساعد طبيب الاسنان. و يشمل هذا البرنامج تدريبا مهنيا يهدف الى تحسين و رفع أداء جودة رعاية المرضى, بالإضافة إلى مجموعة متنوعة وواسعة من المهام المكتبية ومهام مختبرات الأسنان.
 
احد اهم و ابرز أدوار مساعد طبيب الاسنان هو مساعدة المرضى كي يشعروا بالراحة و تخفيف حدة القلق لديهم خلال جميع مراحل إجراءات العلاج.
 
في جامعة رياض العلم, طلبة برنامج مساعد طبيب أسنان يتم تدريبهم على تقديم المساعد السريرية حيث يقوم مساعد طبيب الأسنان بالعمل مباشرة مع طبيب الأسنان على إجراءات تجري في فم المريض. إضافة الى ذلك يتم تدريبهم على كيفية استخدام الأشعة ومواد طب الأسنان. ويشمل برنامج التدريب عدد من المهام الإدارية مثل(إدارة السجلات المالية، وملء استمارات التأمين وجدولة المرضى). و يضمن هذا البرنامج تأهيل مساعد طبيب الاسنان للحصول على شهادة وطنية، قيمة لصاحب العمل وللمشاركة في عضوية الجهات المناسبة.
 
تم أعتماد برنامج مساعد طبيب الاسنان بموجب موافقة وزارة التعليم العالي بتاريخ 1/1/1429هجري و هو مخصص للطالبات فقط. تتكون الخطة الدراسية لهذا البرنامج من 140 ساعة معتمدة و موزعة على ثمانية مستويات دراسية تستغرق أربع سنوات و يضاف لها سنة الامتياز.', N'A dental assistant education will provide the essential characteristics of a great dental assistant.
The dental assistant’s most important role is to help patients feel comfortable as he/she strives to reduce their anxiety through all stages of dental procedures.
In Riyadh Elm University, students who would be dental assistants are trained in chair side assisting, four-handed dentistry, radiology, and the use of dental materials. Dental assistant training in Riyadh Elm University includes areas of study such as administrative tasks (managing financial records, completing insurance forms, and scheduling patients), The dental assistant education program includes practical instruction or supervised training in a dental clinic.
Dental assistant education in Riyadh Elm University prepares the students for these tasks and a successful career.', 1000, 90000, 0, NULL, NULL, NULL)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (14, N'بكالوريوس تقنية الأسنان', N'Bachelor of Dental Laboratory Technology', 4, N'<p>1-&nbsp;أن يكون الطالب/الطالبة حاصل على شهادة الثانوية العامة أو ما يعادلها من داخل المملكة أو من خارجها واختبار القدرات والتحصيلي وفق النسب التالية: -</p>

<ul>
	<li>أن ال تقل النسبة الموزونة عن ) <span style="color:#2980b9">65</span> ) % موزعة على النحو التالي:

	<ul>
		<li>) 30 ) % ثانوية عامة.</li>
		<li>) 30 ) % قدرات</li>
		<li>) 40 ) % تحصيلي</li>
	</ul>
	</li>
</ul>

<p>2-&nbsp;أن يكون حسن السيرة والسلوك.</p>

<p>3-&nbsp;أن يجتاز بنجاح امتحانات القبول المشتملة على اللغة اإلنجليزية والمقابلة الشخصية واالمتحان العملي.</p>

<p>4-&nbsp;أن يكون الئقاً طبياً.</p>

<p>5-&nbsp;أن ال يكون مفصوالً من جامعة أو كلية أخرى ألسباب تأديبية</p>
', N'30', N'30', N'40', N'65', N'fa fa-stethoscope', N'iStock.jpg', N'<p>1- The male / female student must have a high school diploma or equivalent from within The Kingdom or from outside it, and aptitude and achievement test according to the following percentages:</p>

<p>The weighted percentage should not be less than (<span style="color:#2980b9">65%</span>) distributed as follows:</p>

<ul>
	<li>(30%) of high school.</li>
	<li>(30%) capabilities.</li>
	<li>(40%) achievement.</li>
</ul>

<p>2- To be of good conduct and behavior.</p>

<p>3- He has successfully passed the entrance exams, which include English and a personal interview And the practical exam.</p>

<p>4- To be medically fit.</p>

<p>5- He must not be dismissed from any other university or college for disciplinary reasons.</p>
', N'طالب تقنية الأسنان في جامعة رياض العلم يتعلم كل المهارات التقنية اللازمة للعمل مع القوالب والمعادن وغيرها من المواد لعمل تركيبات مخصصة. ويتعلم الطلاب كيفية تركيب وإصلاح أجهزة تقويم الأسنان، التيجان ,الجسور وأطقم الأسنان الكاملة، وأطقم الأسنان الجزئية، وغيرها.
 
كما يتعلم الطالب/الطالبة كيفية تعبئة الطلبات من أطباء الأسنان لمجموعة متنوعة من أجهزة طب الأسنان. ويتم تدريبهم على كيفية استخدام الإرشادات التفصيلية المكتوبة وقوالب اسنان المرضى و كيفية التعامل مع الأنسجة الرخوة في الفم', N'A Dental Technology student in Riyadh Elm University learns all the technical skills necessary to work with molds, metals, and other materials to create customized fixtures for the perfect fit. Students learn how to make and repair orthodontic appliances, crowns and bridges, complete dentures, partial dentures, and other dental appliances.
They also learn how to fill orders from dentists for a variety of dental appliances. They are trained how to use the dentists’ detailed written directions and molds of the patient’s teeth or oral soft tissues and therefrom, how to make the following items:', 1000, 90000, 0, NULL, NULL, NULL)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (15, N'بكالوريوس صحة الفم والأسنان', N'Bachelor in Oral and Dental Health', 4, N'<p>1-&nbsp;أن يكون الطالب/الطالبة حاصل على شهادة الثانوية العامة أو ما يعادلها من داخل المملكة أو من خارجها واختبار القدرات والتحصيلي وفق النسب التالية: -</p>

<ul>
	<li>أن ال تقل النسبة الموزونة عن ) <span style="color:#2980b9">65</span> ) % موزعة على النحو التالي:

	<ul>
		<li>) 30 ) % ثانوية عامة.</li>
		<li>) 30 ) % قدرات</li>
		<li>) 40 ) % تحصيلي</li>
	</ul>
	</li>
</ul>

<p>2-&nbsp;أن يكون حسن السيرة والسلوك.</p>

<p>3-&nbsp;أن يجتاز بنجاح امتحانات القبول المشتملة على اللغة اإلنجليزية والمقابلة الشخصية واالمتحان العملي.</p>

<p>4-&nbsp;أن يكون الئقاً طبياً.</p>

<p>5-&nbsp;أن ال يكون مفصوالً من جامعة أو كلية أخرى ألسباب تأديبية</p>
', N'30', N'30', N'40', N'65', N'fa fa-university', N'dentalhygiene.jpg', N'<p>1- The male / female student must have a high school diploma or equivalent from within The Kingdom or from outside it, and aptitude and achievement test according to the following percentages:</p>

<p>The weighted percentage should not be less than (<span style="color:#2980b9">65%</span>) distributed as follows:</p>

<ul>
	<li>(30%) of high school.</li>
	<li>(30%) capabilities.</li>
	<li>(40%) achievement.</li>
</ul>

<p>2- To be of good conduct and behavior.</p>

<p>3- He has successfully passed the entrance exams, which include English and a personal interview And the practical exam.</p>

<p>4- To be medically fit.</p>

<p>5- He must not be dismissed from any other university or college for disciplinary reasons.</p>
', N'تم اعتماد هذا البرنامج بموجب موافقة وزارة التعليم العالي بتاريخ 25/7/ 1427هجري و قبلت اول دفعة من الطالبات مع بداية الفصل الدراسي من العام الدراسي 2005-2006م.


تتكون الخطة الدراسية لهذا البرنامج من 124 ساعة معتمدة و موزعة عل ثماني مستويات دراسية تستغرق اربع سنوات و يضاف لها سنة الإمتياز. البرنامج يدمج التعليم النظري والتدريب التجريبي والممارسة السريرية لإعداد الطلاب للعمل مع طبيب الأسنان وفريق طب الأسنان لعلاج جميع أنواع المرضى. صحة الأسنان تعمل جنبا إلى جنب مع أطباء الأسنان لمنع وتشخيص وعلاج أمراض الفم.', N'The Riyadh Elm University program has established a (48) – month program of studies leading to a bachelor of science degree in dental hygiene. This four year (8 Semesters).
The program integrates education, experiential learning and clinical practice to prepare the students to work with the dentist and the dental team to treat all kinds of patients. Dental hygienists work hand in hand with dentists to prevent, diagnose and treat oral diseases.
Students of the dental hygiene program are trained to provide quality dental hygiene care, in general. They are trained to assess, plan, implement and evaluate dental hygiene services for individual patients and community oral health programs; develop patient counseling programs to encourage disease prevention and good oral health; and provide prescribed clinical patient care for patients of all ages and backgrounds, including those with special needs.
They are also expected to continuously improve and enhance their professional development and face the challenges of the dental hygiene profession.', 1000, 90000, 0, NULL, NULL, NULL)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (16, N'بكالوريوس المختبرات الإكلينيكية', N'Bachelor of Clinical Laboratory', 4, N'<p>1-&nbsp;أن يكون الطالب/الطالبة حاصل على شهادة الثانوية العامة أو ما يعادلها من داخل المملكة أو من خارجها واختبار القدرات والتحصيلي وفق النسب التالية: -</p>

<ul>
	<li>أن ال تقل النسبة الموزونة عن ) <span style="color:#2980b9">65</span> ) % موزعة على النحو التالي:

	<ul>
		<li>) 30 ) % ثانوية عامة.</li>
		<li>) 30 ) % قدرات</li>
		<li>) 40 ) % تحصيلي</li>
	</ul>
	</li>
</ul>

<p>2-&nbsp;أن يكون حسن السيرة والسلوك.</p>

<p>3-&nbsp;أن يجتاز بنجاح امتحانات القبول المشتملة على اللغة اإلنجليزية والمقابلة الشخصية واالمتحان العملي.</p>

<p>4-&nbsp;أن يكون الئقاً طبياً.</p>

<p>5-&nbsp;أن ال يكون مفصوالً من جامعة أو كلية أخرى ألسباب تأديبية</p>
', N'30', N'30', N'40', N'65', N'fa fa-flask', N'biotech.jpeg', N'<p>1- The male / female student must have a high school diploma or equivalent from within The Kingdom or from outside it, and aptitude and achievement test according to the following percentages:</p>

<p>The weighted percentage should not be less than (<span style="color:#2980b9">65%</span>) distributed as follows:</p>

<ul>
	<li>(30%) of high school.</li>
	<li>(30%) capabilities.</li>
	<li>(40%) achievement.</li>
</ul>

<p>2- To be of good conduct and behavior.</p>

<p>3- He has successfully passed the entrance exams, which include English and a personal interview And the practical exam.</p>

<p>4- To be medically fit.</p>

<p>5- He must not be dismissed from any other university or college for disciplinary reasons.</p>
', N'تم اعتماد هذا البرنامج بموجب موافقة وزارة التعليم العالي بتاريخ 8/5/1426هجري وهو مخصص للطالبات فقط و قد قبلت اول دفعة من الطالبات في الفصل الاول من العام الدراسي 2005-2006م.
تتكون الخطة الدراسية لهذا البرنامج من 132 ساعة معتمدة وموزعة على ثمانية مستويات دراسية تستغرق اربع سنوات و يضاف لها سنة امتياز للتدريب في المعامل و المختبرات الطبية. وتشمل الخطة الدراسية لهذا البرنامج مجموعة من المواد المتخصصة مثل الكيمياء والعلوم البيولوجية وعلم الأحياء المجهرية، والرياضيات، والإحصاء، وكذلك مقررات متخصصة مكرسة للعلوم والمهارات المستخدمة في المختبرات الطبية.', N'Graduates of the Riyadh Elm University’s Clinical Laboratory Sciences program emerge with the knowledge and skills necessary for a successful career in the field. Bachelor’s degree programs in clinical laboratory sciences include courses in chemistry, biological sciences, microbiology, mathematics, and statistics, as well as specialized courses devoted to knowledge and skills used in the clinical laboratory.', 1000, 90000, 0, NULL, NULL, NULL)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (17, N'إدارة الخدمات الصحية والمستشفيات', N'Health Services and Hospitals Department', 4, N'<p>1-&nbsp;أن يكون الطالب/الطالبة حاصل على شهادة الثانوية العامة أو ما يعادلها من داخل المملكة أو من خارجها واختبار القدرات والتحصيلي وفق النسب التالية: -</p>

<ul>
	<li>أن ال تقل النسبة الموزونة عن ) <span style="color:#2980b9">65</span> ) % موزعة على النحو التالي:

	<ul>
		<li>) 30 ) % ثانوية عامة.</li>
		<li>) 30 ) % قدرات</li>
		<li>) 40 ) % تحصيلي</li>
	</ul>
	</li>
</ul>

<p>2-&nbsp;أن يكون حسن السيرة والسلوك.</p>

<p>3-&nbsp;أن يجتاز بنجاح امتحانات القبول المشتملة على اللغة اإلنجليزية والمقابلة الشخصية واالمتحان العملي.</p>

<p>4-&nbsp;أن يكون الئقاً طبياً.</p>

<p>5-&nbsp;أن ال يكون مفصوالً من جامعة أو كلية أخرى ألسباب تأديبية</p>
', N'30', N'30', N'40', N'65', N'fa fa-hospital-o', N'blue-and-silver.jpg', N'<p>1- The male / female student must have a high school diploma or equivalent from within The Kingdom or from outside it, and aptitude and achievement test according to the following percentages:</p>

<p>The weighted percentage should not be less than (<span style="color:#2980b9">65%</span>) distributed as follows:</p>

<ul>
	<li>(30%) of high school.</li>
	<li>(30%) capabilities.</li>
	<li>(40%) achievement.</li>
</ul>

<p>2- To be of good conduct and behavior.</p>

<p>3- He has successfully passed the entrance exams, which include English and a personal interview And the practical exam.</p>

<p>4- To be medically fit.</p>

<p>5- He must not be dismissed from any other university or college for disciplinary reasons.</p>
', N'Becoming a student requires more than a test score. To “be student” requires persistence. And passion. And a desire to give back. It doesn’t matter whether you’re the first in your family to attend college or you’re the latest in a long tradition of educational excellence: You stand up and you stand out.', N'Becoming a student requires more than a test score. To “be student” requires persistence. And passion. And a desire to give back. It doesn’t matter whether you’re the first in your family to attend college or you’re the latest in a long tradition of educational excellence: You stand up and you stand out.', 1000, 90000, 0, NULL, NULL, NULL)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (18, N'بكالوريوس الحاسب الآلي', N'Bachelor of Computer', 6, N'<p>1-&nbsp;أن يكون الطالب/الطالبة حاصل على شهادة الثانوية العامة أو ما يعادلها من داخل المملكة أو من خارجها واختبار القدرات والتحصيلي وفق النسب التالية: -</p>

<ul>
	<li>أن ال تقل النسبة الموزونة عن ) <span style="color:#2980b9">70</span>&nbsp;) % موزعة على النحو التالي:

	<ul>
		<li>) 30 ) % ثانوية عامة.</li>
		<li>) 30 ) % قدرات</li>
		<li>) 40 ) % تحصيلي</li>
	</ul>
	</li>
</ul>

<p>2-&nbsp;أن يكون حسن السيرة والسلوك.</p>

<p>3-&nbsp;أن يجتاز بنجاح امتحانات القبول المشتملة على اللغة اإلنجليزية والمقابلة الشخصية واالمتحان العملي.</p>

<p>4-&nbsp;أن يكون الئقاً طبياً.</p>

<p>5-&nbsp;أن ال يكون مفصوالً من جامعة أو كلية أخرى ألسباب تأديبية</p>
', N'30', N'30', N'40', N'70', N'fa fa-desktop', N'christopher-gower.jpg', N'<p>1- The male / female student must have a high school diploma or equivalent from within The Kingdom or from outside it, and aptitude and achievement test according to the following percentages:</p>

<p>The weighted percentage should not be less than (<span style="color:#2980b9">70%</span>) distributed as follows:</p>

<ul>
	<li>(30%) of high school.</li>
	<li>(30%) capabilities.</li>
	<li>(40%) achievement.</li>
</ul>

<p>2- To be of good conduct and behavior.</p>

<p>3- He has successfully passed the entrance exams, which include English and a personal interview And the practical exam.</p>

<p>4- To be medically fit.</p>

<p>5- He must not be dismissed from any other university or college for disciplinary reasons.</p>
', N'Becoming a student requires more than a test score. To “be student” requires persistence. And passion. And a desire to give back. It doesn’t matter whether you’re the first in your family to attend college or you’re the latest in a long tradition of educational excellence: You stand up and you stand out.', N'Becoming a student requires more than a test score. To “be student” requires persistence. And passion. And a desire to give back. It doesn’t matter whether you’re the first in your family to attend college or you’re the latest in a long tradition of educational excellence: You stand up and you stand out.', 1000, 90000, 0, NULL, NULL, NULL)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (21, N'شهادة الاختصاص السعودي في برنامج اللبية', N'The Saudi Specialty Certificate in Endodontic Program', 5, N'', N'30', N'30', N'40', N'100', N'fa fa-stethoscope', NULL, N'', N'شهادة الاختصاص السعودي في علاج الجذور و عصب الاسنان هو فرع من فروع طب الأسنان يعنى بمورفولوجيا، فسيولوجيا، والخواص الباثولوجية للب السني البشري والأنسجة المحيطه بالجذر. كما و يشمل الدراسة و التدريب على العلوم الإكلينيكية الأساسية بما في ذلك بيولوجيا اللب العادي، والأسباب المرضية والتشخيص والوقاية والعلاج من الأمراض والإصابات.
 
يمتد البرنامج لمدة أربع سنوات، وقد تم تصميمه لتلبية احتياجات الذين يرغبون في اكتساب المزيد من المهارات والمعرفة والخبرة في علاج الجذور الإكلينيكية، فضلا عن خلفية في العلوم البيولوجية. ويتضمن البرنامج مشاركة فاعلة في المحاضرات والندوات والكتب.', N'The Saudi Specialty Certificate in Endodontics [SSC-(Dent) Endo] is the branch of dentistry, which is concerned with the morphology, physiology, and pathology of the human dental pulp and periradicular tissues. Its studies and practice encompass the basic clinical sciences, including biology of the normal pulp, the etiology, diagnosis, prevention and treatment of diseases and injuries of the pulp and associated periradicular conditions. The program extends for four years and it has been designed to satisfy the needs for those who wish to acquire greater skill, knowledge, and experience in clinical Endodontics, as well as a background in biological sciences. The program includes participation in formal lectures, seminars, book and literature reviews.', 1000, 90000, 0, NULL, NULL, NULL)
INSERT [dbo].[Specialization] ([Specialization_Id], [Specialization_Name_Ar], [Specialization_Name_En], [Collage_Id], [Condition_Ar], [High_School_Percent], [Capabilities_Percent], [My_Achievement_Percent], [Weighted_Ratio_Percent], [Specialization_Icon], [Specialization_Image], [Condition_En], [Specialization_Description_Ar], [Specialization_Description_En], [Specialization_Registeration_Payment], [Specialization_Study_Payment], [Specialization_Suspend], [Specialization_Study_Payment_Semester], [Specialization_Study_Payment_Contract], [Specialization_Study_Payment_Equation]) VALUES (24, N'شهادة الاختصاص السعودي في برنامج طب اسنان الأطفال', N'The Saudi Specialty Certificate in Pediatric Dentistry Program', 5, N'', N'30', N'30', N'40', N'100', N'fa fa-stethoscope', NULL, N'', N'شهادة الاختصاص السعودي في طب أسنان الأطفال هو برنامج لمدة أربع سنوات مصمم لتلبية المعايير التعليمية وفقا للهيئة السعودية للتخصصات الصحية. عند الانتهاء من البرنامج، يحصل المقيم على شهادة الاختصاص السعودي في طب أسنان الأطفال.
 
ويتضمن البرنامج تدريبا سريريا مكثفا في طب أسنان الأطفال, ويشمل توفير الرعاية الصحية الأولية والشاملة لمرضى أسنان الأطفال من الرضع والأطفال والمراهقين وللمرضى من ذوي الاحتياجات الخاصة. وبالإضافة إلى ذلك، يشمل التشخيص والعلاج من مشاكل الإطباق في الأسنان. يتم تحقيق اهداف البرنامج من خلال المحاضرات والندوات والعروض التعليمية, والمؤتمرات والممارسة السريرية.', N'The Saudi Specialty Certificate in Pediatric Dentistry is a four years program designed to meet the educational standards of the Saudi Commission for Health Specialties. Upon completion of the program, the resident receives a Saudi Specialty Certificate in Pediatric Dentistry.
The Program involves intensive clinical training in Pediatric Dentistry which includes providing primary and comprehensive dental care for pediatric patients from infant, child, adolescents and for patients with special needs. In addition, it includes diagnosis and treatment of occlusal problems in the primary, mixed and young permanent dentition. The program will also include Pediatric Dentistry literature review and basic sciences.', 1000, 90000, 0, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Specialization] OFF
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Status_Id], [Status_Code], [Status_Name_Ar], [Status_Name_En], [Status_Color], [Status_Icon]) VALUES (1, 1, N'جديدة', N'New', NULL, NULL)
INSERT [dbo].[Status] ([Status_Id], [Status_Code], [Status_Name_Ar], [Status_Name_En], [Status_Color], [Status_Icon]) VALUES (2, 2, N'قيد الانتظار', N'Pending', NULL, NULL)
INSERT [dbo].[Status] ([Status_Id], [Status_Code], [Status_Name_Ar], [Status_Name_En], [Status_Color], [Status_Icon]) VALUES (3, 3, N'مخصصة', N'Assigned', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Status] OFF
SET IDENTITY_INSERT [dbo].[Student_Concat] ON 

INSERT [dbo].[Student_Concat] ([Student_Concat_Id], [Student_Concat_Name], [Student_Concat_Phone], [Student_Concat_Email], [Student_Concat_Message], [Student_Concat_Status], [Student_Concat_CreationDate]) VALUES (1, N'ساره العمري', N'0563181887', N'sa3arah18@gmail.com', N'السلام عليكم ورحمة الله وبركاته 
أرغب بالتقديم في الجامعة ماهي الآلية', 2, CAST(0x0000ABE900AB8979 AS DateTime))
SET IDENTITY_INSERT [dbo].[Student_Concat] OFF
SET IDENTITY_INSERT [dbo].[Student_Type] ON 

INSERT [dbo].[Student_Type] ([Student_Type_Id], [Student_Type_Name_Ar], [Student_Type_Name_En]) VALUES (1, N'جديد', N'New')
INSERT [dbo].[Student_Type] ([Student_Type_Id], [Student_Type_Name_Ar], [Student_Type_Name_En]) VALUES (2, N'تجسير', N'Tajseer')
INSERT [dbo].[Student_Type] ([Student_Type_Id], [Student_Type_Name_Ar], [Student_Type_Name_En]) VALUES (3, N'محول', N'Mohawl')
SET IDENTITY_INSERT [dbo].[Student_Type] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Student__E5578F5863656CB9]    Script Date: 7/4/2020 4:28:49 PM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[Student_SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__Student__E5578F58B85E9CBB]    Script Date: 7/4/2020 4:28:49 PM ******/
ALTER TABLE [dbo].[Student] ADD UNIQUE NONCLUSTERED 
(
	[Student_SSN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Nationality] ADD  CONSTRAINT [DF__countries__count__5A4F643B]  DEFAULT ('') FOR [Country_code]
GO
ALTER TABLE [dbo].[Nationality] ADD  CONSTRAINT [DF__countries__count__5B438874]  DEFAULT ('') FOR [Country_Name_En]
GO
ALTER TABLE [dbo].[Nationality] ADD  CONSTRAINT [DF__countries__count__5C37ACAD]  DEFAULT ('') FOR [Country_Name_Ar]
GO
ALTER TABLE [dbo].[Nationality] ADD  CONSTRAINT [DF__countries__count__5D2BD0E6]  DEFAULT ('') FOR [Nationality_Name_En]
GO
ALTER TABLE [dbo].[Nationality] ADD  CONSTRAINT [DF__countries__count__5E1FF51F]  DEFAULT ('') FOR [Nationality_Name_Ar]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Group] FOREIGN KEY([Group_Id])
REFERENCES [dbo].[Group] ([Group_Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Group]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_LanguageMaster] FOREIGN KEY([Language_id])
REFERENCES [dbo].[LanguageMaster] ([ID])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_LanguageMaster]
GO
ALTER TABLE [dbo].[Files]  WITH CHECK ADD  CONSTRAINT [FK_Files_Student] FOREIGN KEY([Student_Id])
REFERENCES [dbo].[Student] ([Student_Id])
GO
ALTER TABLE [dbo].[Files] CHECK CONSTRAINT [FK_Files_Student]
GO
ALTER TABLE [dbo].[Group_Status]  WITH CHECK ADD  CONSTRAINT [FK_Group_Status_Group] FOREIGN KEY([Group_Id])
REFERENCES [dbo].[Group] ([Group_Id])
GO
ALTER TABLE [dbo].[Group_Status] CHECK CONSTRAINT [FK_Group_Status_Group]
GO
ALTER TABLE [dbo].[Group_Status]  WITH CHECK ADD  CONSTRAINT [FK_Group_Status_Status] FOREIGN KEY([Status_Id])
REFERENCES [dbo].[Status] ([Status_Id])
GO
ALTER TABLE [dbo].[Group_Status] CHECK CONSTRAINT [FK_Group_Status_Status]
GO
ALTER TABLE [dbo].[Lanuage_Detials]  WITH CHECK ADD  CONSTRAINT [FK_Lanuage_Detials_LanguageMaster] FOREIGN KEY([Language_Master_Id])
REFERENCES [dbo].[LanguageMaster] ([ID])
GO
ALTER TABLE [dbo].[Lanuage_Detials] CHECK CONSTRAINT [FK_Lanuage_Detials_LanguageMaster]
GO
ALTER TABLE [dbo].[Log_File]  WITH CHECK ADD  CONSTRAINT [FK_Log_File_Employee] FOREIGN KEY([Login_Id])
REFERENCES [dbo].[Employee] ([Employee_Id])
GO
ALTER TABLE [dbo].[Log_File] CHECK CONSTRAINT [FK_Log_File_Employee]
GO
ALTER TABLE [dbo].[Log_File]  WITH CHECK ADD  CONSTRAINT [FK_Log_File_Permission] FOREIGN KEY([Form_Id])
REFERENCES [dbo].[Permission] ([Permission_Id])
GO
ALTER TABLE [dbo].[Log_File] CHECK CONSTRAINT [FK_Log_File_Permission]
GO
ALTER TABLE [dbo].[Nationality]  WITH CHECK ADD  CONSTRAINT [FK_Nationality_Nationality] FOREIGN KEY([Nationality_Id])
REFERENCES [dbo].[Nationality] ([Nationality_Id])
GO
ALTER TABLE [dbo].[Nationality] CHECK CONSTRAINT [FK_Nationality_Nationality]
GO
ALTER TABLE [dbo].[Notification_Employee]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Employee_Employee] FOREIGN KEY([Employee_Id])
REFERENCES [dbo].[Employee] ([Employee_Id])
GO
ALTER TABLE [dbo].[Notification_Employee] CHECK CONSTRAINT [FK_Notification_Employee_Employee]
GO
ALTER TABLE [dbo].[Notification_Employee]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Employee_Notification_Show] FOREIGN KEY([NotificationShow_Id])
REFERENCES [dbo].[Notification_Show] ([Notification_Show_Id])
GO
ALTER TABLE [dbo].[Notification_Employee] CHECK CONSTRAINT [FK_Notification_Employee_Notification_Show]
GO
ALTER TABLE [dbo].[Notification_Master]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Master_Notification_Show] FOREIGN KEY([Notification_Show_Id])
REFERENCES [dbo].[Notification_Show] ([Notification_Show_Id])
GO
ALTER TABLE [dbo].[Notification_Master] CHECK CONSTRAINT [FK_Notification_Master_Notification_Show]
GO
ALTER TABLE [dbo].[Payment_Process]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Process_Payment_Type] FOREIGN KEY([Payment_Type_Id])
REFERENCES [dbo].[Payment_Type] ([Payment_Type_Id])
GO
ALTER TABLE [dbo].[Payment_Process] CHECK CONSTRAINT [FK_Payment_Process_Payment_Type]
GO
ALTER TABLE [dbo].[Payment_Process]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Study_Student] FOREIGN KEY([Student_Id])
REFERENCES [dbo].[Student] ([Student_Id])
GO
ALTER TABLE [dbo].[Payment_Process] CHECK CONSTRAINT [FK_Payment_Study_Student]
GO
ALTER TABLE [dbo].[Permission_Group]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Group_Group] FOREIGN KEY([Group_Id])
REFERENCES [dbo].[Group] ([Group_Id])
GO
ALTER TABLE [dbo].[Permission_Group] CHECK CONSTRAINT [FK_Permission_Group_Group]
GO
ALTER TABLE [dbo].[Permission_Group]  WITH CHECK ADD  CONSTRAINT [FK_Permission_Group_Permission] FOREIGN KEY([Permission_Id])
REFERENCES [dbo].[Permission] ([Permission_Id])
GO
ALTER TABLE [dbo].[Permission_Group] CHECK CONSTRAINT [FK_Permission_Group_Permission]
GO
ALTER TABLE [dbo].[Rosom_Request]  WITH CHECK ADD  CONSTRAINT [FK_Rosom_Request_Payment_Process] FOREIGN KEY([Payment_Process_Id])
REFERENCES [dbo].[Payment_Process] ([Payment_Id])
GO
ALTER TABLE [dbo].[Rosom_Request] CHECK CONSTRAINT [FK_Rosom_Request_Payment_Process]
GO
ALTER TABLE [dbo].[Rosom_Response]  WITH CHECK ADD  CONSTRAINT [FK_Rosom_Response_Payment_Process] FOREIGN KEY([Payment_Process_Id])
REFERENCES [dbo].[Payment_Process] ([Payment_Id])
GO
ALTER TABLE [dbo].[Rosom_Response] CHECK CONSTRAINT [FK_Rosom_Response_Payment_Process]
GO
ALTER TABLE [dbo].[Rosom_Response]  WITH CHECK ADD  CONSTRAINT [FK_Rosom_Response_Rosom_Request] FOREIGN KEY([Rosom_Request_Id])
REFERENCES [dbo].[Rosom_Request] ([Id])
GO
ALTER TABLE [dbo].[Rosom_Response] CHECK CONSTRAINT [FK_Rosom_Response_Rosom_Request]
GO
ALTER TABLE [dbo].[Sequence]  WITH CHECK ADD  CONSTRAINT [FK_Sequence_Employee] FOREIGN KEY([Emp_Id])
REFERENCES [dbo].[Employee] ([Employee_Id])
GO
ALTER TABLE [dbo].[Sequence] CHECK CONSTRAINT [FK_Sequence_Employee]
GO
ALTER TABLE [dbo].[Sequence]  WITH CHECK ADD  CONSTRAINT [FK_Sequence_Status] FOREIGN KEY([Status_Id])
REFERENCES [dbo].[Status] ([Status_Id])
GO
ALTER TABLE [dbo].[Sequence] CHECK CONSTRAINT [FK_Sequence_Status]
GO
ALTER TABLE [dbo].[Sequence]  WITH CHECK ADD  CONSTRAINT [FK_Sequence_Student] FOREIGN KEY([Student_Id])
REFERENCES [dbo].[Student] ([Student_Id])
GO
ALTER TABLE [dbo].[Sequence] CHECK CONSTRAINT [FK_Sequence_Student]
GO
ALTER TABLE [dbo].[Specialization]  WITH CHECK ADD  CONSTRAINT [FK_Specialization_Collage] FOREIGN KEY([Collage_Id])
REFERENCES [dbo].[Collage] ([Collage_ID])
GO
ALTER TABLE [dbo].[Specialization] CHECK CONSTRAINT [FK_Specialization_Collage]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Employee] FOREIGN KEY([Student_Employee_Id])
REFERENCES [dbo].[Employee] ([Employee_Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Employee]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Nationality] FOREIGN KEY([Student_Nationality_Id])
REFERENCES [dbo].[Nationality] ([Nationality_Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Nationality]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Resource] FOREIGN KEY([Student_Resource_Id])
REFERENCES [dbo].[Resource] ([ResourceID])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Resource]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Specialization] FOREIGN KEY([Student_Specialization_Id])
REFERENCES [dbo].[Specialization] ([Specialization_Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Specialization]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Status] FOREIGN KEY([Student_Status_Id])
REFERENCES [dbo].[Status] ([Status_Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Status]
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD  CONSTRAINT [FK_Student_Student_Type] FOREIGN KEY([Student_Type_Id])
REFERENCES [dbo].[Student_Type] ([Student_Type_Id])
GO
ALTER TABLE [dbo].[Student] CHECK CONSTRAINT [FK_Student_Student_Type]
GO
ALTER TABLE [dbo].[Student_Concat]  WITH CHECK ADD  CONSTRAINT [FK_Student_Concat_Status] FOREIGN KEY([Student_Concat_Status])
REFERENCES [dbo].[Status] ([Status_Id])
GO
ALTER TABLE [dbo].[Student_Concat] CHECK CONSTRAINT [FK_Student_Concat_Status]
GO
ALTER TABLE [dbo].[Student_Other_Info]  WITH CHECK ADD  CONSTRAINT [FK_Student_Other_Info_Student] FOREIGN KEY([Student_Id])
REFERENCES [dbo].[Student] ([Student_Id])
GO
ALTER TABLE [dbo].[Student_Other_Info] CHECK CONSTRAINT [FK_Student_Other_Info_Student]
GO
ALTER TABLE [dbo].[VISA_MADA]  WITH CHECK ADD  CONSTRAINT [FK_VISA_MADA_Payment_Process] FOREIGN KEY([PaymentProcess_Id])
REFERENCES [dbo].[Payment_Process] ([Payment_Id])
GO
ALTER TABLE [dbo].[VISA_MADA] CHECK CONSTRAINT [FK_VISA_MADA_Payment_Process]
GO
USE [master]
GO
